<!DOCTYPE html>
<html>

<head>
	<title>Cute Blog</title>

	<!-- Styles -->
	<link rel="stylesheet" href="/resources/css/style.css" />

	<!-- Font -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Essential things -->
	<link rel="canonical" href="https://blogcute.com" />
	<meta name="description" content="Write your fancy Blog" />
	<meta property="og:title" content="About us" />
	<meta property="og:description" content="Happy to see more things about us" />
	<meta name="author" content="Phan Tan Thang" />
	<meta name="keywords" content="Blogs, Blog, knowledge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<main class="container">
		{{template "header"}}
		<section class="content">
			<div class="wrapper">
				<h2 class="content__lastest">
					B√†i vi·∫øt m·ªõi
				</h2>
				<div class="content-blogs">
					{{range .Blogs }}
					<a href="/detail_page/{{ .Id }}" class="content-blogs__item">
						<img
							src="https://images.unsplash.com/photo-1644982647711-9129d2ed7ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDF8MHxlZGl0b3JpYWwtZmVlZHwxfHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=800&q=60">
						<div>
							<input type="hidden" value="{{ .Id }}" />
							<h3>{{ .Title }}</h3>
							<p>{{ .Content }}</p>
						</div>
					</a>
					{{end}}
				</div>
			</div>
		</section>
		{{template "footer"}}
	</main>
	<script src="/resources/js/main.js"></script>
</body>

</html>
