<html>

<head>
    <title>Minimalist Blog</title>
</head>

<body>
    <main class="container">
        <form class="form" action="/add_blog" method="post">
            <div class="form__textfield">
                <span>Title:</span>
                <input type="text" name="title" required>
            </div>
            <div class="form__textfield">
                <span>Content:</span>
                <input type="text" name="content" required>
            </div>
            <button type="submit">submit</button>
        </form>
    </main>
</body>

</html>
