<!DOCTYPE html>
<html>

<head>
	<title>Cute Blog</title>
	<!-- Styles -->
	<link rel="stylesheet" href="/resources/css/styles.css" />

	<!-- Font -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Essential things -->
	<meta name="author" content="Phan Tan Thang" />
	<meta name="keywords" content="Blogs, Blog, knowledge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<main class="container">
		{{template "header"}}
		<p>
			{{ .Username }}
			{{ .IsUser}}
		</p>
		<section class="content">
			<div class="wrapper">
				<h2 class="content__lastest">
					Bài viết mới
				</h2>
				<div class="content-blogs">
					{{range .Blogs }}
					<a href="/detail_blog/{{ .Id }}" class="content-blogs__item">
						<img src="https://cdn.nextlint.com/user/59e8095b-0d60-4e2a-bf24-83566d10d5c0/J8QXrwOO9.webp">
						<div>
							<input type="hidden" value="{{ .Id }}" />
							<h3>{{ .Title }}</h3>
							<p>{{ .Content }}</p>
						</div>
					</a>
					{{end}}
				</div>
			</div>
		</section>
		{{template "footer"}}
	</main>
	<script src="/resources/js/main.js"></script>
</body>

</html>
