{{define "header"}}

<header class="header">
	<div class="header__left">
		<span class="header__logo">Cute Blog</span>
		<div class="header__search-bar">
			<form action="/search" method="post">
				<input type="text" placeholder="Tìm kiếm trên Cute Blog" />
				<i class="search-icon fa-solid fa-magnifying-glass"></i>
			</form>
		</div>
	</div>
	<div class="header__right">
		<div class="right-links">
			<a href="/" class="right-links__item">
				Home
			</a>
			<a href="/add_blog" class="right-links__item">
				Add blog
			</a>
			<a href="/about" class="right-links__item">
				About
			</a>
		</div>
		<div class="header__login">
			<span class="button">
				Viết bài
			</span>
		</div>
	</div>
</header>

{{end}}
