{{define "header"}}

<header class="header">
	<div class="header__left">
		<a href="/" class="header__logo">Cute Blog</a>
		<div class="header__search-bar">
			<form action="/search" method="post">
				<input type="text" placeholder="Tìm kiếm trên Cute Blog" />
				<i class="search-icon fa-solid fa-magnifying-glass"></i>
			</form>
		</div>
	</div>
	<div class="header__right">
		<div class="right-links">
			<a href="/" class="right-links__item">
				Trang chủ
			</a>
			<a href="/login" class="right-links__item">
				Đăng nhập
			</a>
		</div>
		<div class="header__login">
			<a href="/add_blog">
				<span class="button">
					Viết bài
				</span>
			</a>
		</div>
	</div>
</header>

{{end}}
