<!DOCTYPE html>
<html>

<head>
	<title>Cute Blog</title>

	<!-- Styles -->
	<link rel="stylesheet" href="/resources/css/styles.css" />
	<link rel="stylesheet" href="/resources/css/login.css" />

	<!-- Font -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Essential things -->
	<meta name="author" content="Phan Tan Thang" />
	<meta name="keywords" content="Blogs, Blog, knowledge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<main>
		{{template "header"}}
		<h1>Trang dang nhap</h1>
		{{template "footer"}}
	</main>
</body>

</html>
