<!DOCTYPE html>
<html>

<head>
	<title>Cute Blog</title>

	<!-- Styles -->
	<link rel="stylesheet" href="/resources/css/styles.css" />
	<link rel="stylesheet" href="/resources/css/login.css" />
	<link rel="stylesheet" href="/resources/css/add_blog.css" />
	<link rel="stylesheet" href="/resources/css/signup.css" />

	<!-- Font -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLlogD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Essential things -->
	<meta name="author" content="Phan Tan Thang" />
	<meta name="keywords" content="Blogs, Blog, knowledge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<main>
		{{template "header"}}
		<h1 style="text-align: center; padding: 32px;">Trang đăng ký</h1>
		<div class="wrapper__add-blog">
			<form class="form" action="/signup" method="post">
				<div class="form__textfield">
					<label for="username">Tên đăng nhập</label>
					<input type="text" name="username" id="username" required>
				</div>
				<div style="margin-bottom: 8px;" class="form__textfield">
					<label for="password">Mật khẩu:</label>
					<input type="password" name="password" id="password" required>
				</div>
				<div style="margin-bottom: 8px;" class="form__textfield">
					<label for="confirm_password">Nhập lại mật khầu</label>
					<input type="password" name="confirm_password" id="confirm_password" required>
				</div>
				<div class="validate-password">
				</div>
				<div class="center">
					<button class="form__button" type="submit">đăng ký</button>
				</div>
		</div>

		<div class="signup">
			{{ if eq .Announcement "signup_successfully" }}
			<div class="signup-container">
				<div class="signup__bg"></div>
				<div class="signup__successfully">
					<div class="signup-paragraph">
						successfully signup your account
					</div>
					<a class="signup-btn__successfully " href="/login">Login now</a>
				</div>
			</div>
			{{end}}
			{{ if eq .Announcement "signup_unsuccessfully" }}
			<div class="signup__wrapper">
				<div class="signup__bg"></div>
				<div class="signup__error">
					<div class="signup-paragraph">
						unsuccessfully signup your account, Cause
						{{ .Message }}
					</div>
					<a class="signup-btn__error" href="/signup">Signup again!</a>
				</div>
			</div>
			{{end}}
			<!-- {{ if eq .Announcement "default" }} -->
			<!-- <div class="signup__default>"> -->
			<!-- 	default -->
			<!-- </div> -->
			<!-- {{end}} -->
		</div>

		{{template "footer"}}
	</main>

	<script type="text/javascript" src="/resources/js/signup.js"></script>
</body>

</html>
