<!DOCTYPE html>
<html>

<head>
	<title>Cute Blog</title>

	<!-- Styles -->
	<link rel="stylesheet" href="/resources/css/styles.css" />
	<link rel="stylesheet" href="/resources/css/login.css" />
	<link rel="stylesheet" href="/resources/css/add_blog.css" />


	<!-- Font -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
		integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />

	<!-- Essential things -->
	<meta name="author" content="Phan Tan Thang" />
	<meta name="keywords" content="Blogs, Blog, knowledge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
	<main>
		{{template "header"}}
		<h1 style="text-align: center; padding: 32px;">Trang đăng ký</h1>
		<div class="wrapper__add-blog">
			<form class="form" action="/signup" method="post">
				<div class="form__textfield">
					<label for="username">Tên đăng nhập</label>
					<input type="text" name="username" id="username" required>
				</div>
				<div style="margin-bottom: 8px;" class="form__textfield">
					<label for="password">Mật khẩu:</label>
					<input type="password" name="password" id="password" required>
				</div>
				<div style="margin-bottom: 8px;" class="form__textfield">
					<label for="confirm_password">Nhập lại mật khầu</label>
					<input type="password" name="confirm_password" id="confirm_password" required>
				</div>
				<div class="center">
					<button class="form__button" type="submit">đăng ký</button>
				</div>
		</div>

		<p>
			{{ if .Announcement }}
			True
			Value of isAnnouce, it is {{.Announcement}}
			{{else }}
			False
			{{end}}
		</p>
		{{template "footer"}}
	</main>
</body>

</html>
